@use 'variables';

.city_name_heading {
    margin-top: 50px;
    font-size: 2.5rem;
}

.title {
    h4 {
        color: variables.$base;
        font-size: large;
    }
    .line {
        width: 185px;
        background-color:  variables.$base;
    }

}

.cardList {
    margin-top: 20px;
    .cardHeader {
        background-color: variables.$base !important;
        padding: 10px;
        text-align: center;
        color: #fff;
    }

    .listContain {
        padding: 0 20px;
        .markdown_container {
            ul, ol {
                padding-left: 20px;
                li {
                    padding: 3px 0;
                    line-height: 25px;
                }
            }
        }

        .listTitle {
            margin-top: 20px;
            margin-bottom: 10px;
            color: variables.$base;
            font-weight: bold;
        }
        .listPara {
            color: variables.$paraColor;
            margin-bottom: 20px;
        }
    }

   
}

.list {
    color: variables.$paraColor
}