@use 'variables';
.cityList {
    height: 50vh;
    overflow-y: auto;
    color: variables.$base;
    margin: 10px 0;

    p {
        padding: 3px;
    }

    p:hover {
        background-color: variables.$secondary;
        color: #fff;
       
    }
} 
.stateList {
    color: variables.$secondary;
    padding: 5px;
}
.active {
    background-color: variables.$secondary;
    padding: 10px;
    color:#fff
}
.statehover:hover {
    background-color: variables.$base;
    cursor: pointer;
    color:#ffff;
}

.state_selector_container {
    display: flex;
    .state_input {
        flex: 2;
        margin-right: 10px;
    }
    .state_profile_button {
        flex: 1;
        button {
            height: 100%;
        }
    }
}

 