@use 'variables';

.customIndicatorCard {
    display: flex;
    height: 100px;
    // background-color: #286080;
    background-color: variables.$base;
    border-radius: 10px;
    color:#fff;
    box-shadow: none;
    justify-content: center;
    align-content: center;
    padding: 9px;
    .icon {
        font-size: 45px;
        align-self: center;
        display: flex;
        // justify-content: center;
        margin-right: 8px;
        width: 50px;
        svg {
            font-size: 2.5rem;
        }
    }
    .content {
        align-self: center;
        // text-align: center;
        p {
            font-size: 0.8rem;
        }
        h2 {
            margin-top: 4px;
            font-size: 1.6rem;
        }
    }

}

.cardListInner {
    position: absolute;
    width: 192px;
    z-index: 1;
    background-color: #ffffffde;
    // opacity: 1.2 ;

    .cityTool:hover {
        cursor: pointer;
        color: #4C95BF;
        font-weight: bold;
      }
  }
