.map_container {
    width: 100%;
    height: 100%;
    background-color: #1111110b;
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 6px;
    .map {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}