@use 'variables';

.titleHeading {
  text-align: center;
  background-color: variables.$base;
  color: #fff;
  border-radius: 7px;
  padding: 12px;
  
}
 
.customColor:hover {
    background-color:variables.$base ;
    color:white;
    .cell {
      color: #fff;
    }
 }

 .cell {
   padding: 9px 10px;
   vertical-align: middle;
   cursor: pointer;
   color: variables.$base;
   border-bottom: 1px solid variables.$secondary;
   svg {
      vertical-align: middle;
   }
 }



 .title {
  color: variables.$paraColor;
 }

.customCardLeft {
  height: 70vh;
  overflow-y: auto;
  margin-bottom: 1px;
  margin-top : 10px;
  box-shadow: none
}

.customIndicatorCard {
   height: 80px;
   background-color: variables.$base;
   color:#fff;
   box-shadow: none;


   .icon {
    font-size: 35px;
   }
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cityTool {
  border-bottom: variables.$secondary;
  color:variables.$secondary
}

.cityTool:hover {
  cursor: pointer;
  color: #4C95BF;
  font-weight: bold;
}

.cardList {
  position: relative;
}
.cardListInner {
  position: absolute;
  width: 192px;
  z-index: 1;
  background-color: #fff
}
.customIndicatorCard {
  display: flex;
  height: 100px;
  background-color: variables.$secondary;
  border-radius: 10px;
  color:#fff;
  box-shadow: none;
  justify-content: center;
  align-content: center;
  padding: 7px;
  .icon {
    font-size: 45px;
    align-self: center;
    display: flex;
    // justify-content: center;
    margin-right: 8px;
    width: 50px;
    svg {
      font-size: 2.5rem;
    }
  }
  .content {
    align-self: center;
    // text-align: center;
    p {
      font-size: 0.8rem;
    }
    h2 {
      margin-top: 4px;
      font-size: 1.6rem;
    }
  }
}
