@use 'variables';

.state_profile {
	color: variables.$black;
	.titleHeading {
		text-align: center;
		background-color: variables.$secondary;
		color: variables.$base;
		border-radius: 7px;
		padding: 12px;
		font-size: 1.4rem;
	}

	.customCardLeft {
		height: 30vh;
		overflow-y: auto;
		margin-bottom: 1px;
		margin-top : 10px;
		background-color: rgba(210, 235, 250, 0.24);
	}

	.customIndicatorCard {
		display: flex;
		height: 100px;
		background-color: variables.$secondary;
		border-radius: 10px;
		color:#fff;
		box-shadow: none;
		justify-content: center;
		align-content: center;
		padding: 7px;
		.icon {
			font-size: 45px;
			align-self: center;
			display: flex;
			// justify-content: center;
			margin-right: 8px;
			width: 50px;
			svg {
				font-size: 2.5rem;
			}
		}
		.content {
			align-self: center;
			// text-align: center;
			p {
				font-size: 0.8rem;
			}
			h2 {
				margin-top: 4px;
				font-size: 1.6rem;
			}
		}
	}

	.cell {
		padding: 9px 10px;
		vertical-align: middle;
		cursor: pointer;
		color: variables.$base;
		border-bottom: 1px solid variables.$base;
		svg {
			vertical-align: middle;
		}
	}

	.customColor:hover {
		background-color: variables.$base ;
		color:white;
		.cell {
			color: #fff;
		}
	}
}