@use 'variables';
.customCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: variables.$base;
  color: #fff;
  padding-top: 10px;
  height: 160px;

}
